<ActionBar title="Favoritos"></ActionBar>
<StackLayout>
  <Label text="Mis Favoritos" class="titulo"></Label>
  <ListView [items]="favoritos">
    <ng-template let-item="item">
      <FlexboxLayout flexDirection="row" alignItems="center" padding="10">
        <Label [text]="item.titulo" flexGrow="1" class="titulo"></Label>
        <Button
          text="📖 Leer ahora"
          (tap)="leerAhora(item)"
          class="btn-small">
        </Button>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</StackLayout>
